<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <app-donnal
          title="Ventas"
          [colors]="['#2f3d4a', '#398bf7', '#99abb4']"
          [labels]="labels1"
          [dataInput]="data1"
        ></app-donnal>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <app-donnal
          title="Gastos"
          [colors]="['#06d79c', '#ef5350', '#56c0d8']"
          [labels]="labels2"
          [dataInput]="data2"
        ></app-donnal>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <app-donnal
          title="Pati"
          [colors]="['#99abb4', '#398bf7', '#2f3d4a']"
          [labels]="labels3"
          [dataInput]="data3"
        ></app-donnal>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <app-donnal
        [labels]="labels4"
        [dataInput]="data4"></app-donnal>
      </div>
    </div>
  </div>
</div>
