<div class="card">
    <div class="card-body">
        This is some text within a card block.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, maxime. Quibusdam, ipsum nam. Rerum, fugiat cumque consequatur aut suscipit quas dolorum ut, similique sed rem fuga amet odit asperiores impedit.
    </div>
</div>

<div class="row">
    <div class="col-4"><div class="card">
        <div class="card-body">a</div></div></div>
        <div class="col-4"><div class="card">
            <div class="card-body">a</div></div></div>
            <div class="col-4"><div class="card">
                <div class="card-body">a</div></div></div>
</div>